.warming{
  margin: 5px;
  padding: 3px;
  padding-left: 10px;
  color: red;
  border: 1px solid gray;
}
.example-margin{
  margin-left: 10px;
}

.Yes{
  margin-right: 40px;
}

.No{
  margin-left: 40px;
}
