<footer id="footer-main" class="footer-main" data-ga-name="footer_link">
  <div class="footer-container container container-edge">

    <div class="list-col hidden-sm row cols-edge links list-unstyled">

      <div class="col">
        <b>EXPLORE</b>
        <ul>
          <li><a routerLink="/products" class="list-explore" id="all-watch">All Watch</a></li>
          <li><a href="/" class="list-explore" id="brands">Brands</a></li>
        </ul>
      </div>

      <div class="col">
        <b>SERVICE</b>
        <ul>
          <li><a href="/" class="list-service" id="contact-us">Contact us</a></li>
          <li><a href="/" class="list-service" id="faqs">FAQs</a></li>
        </ul>
      </div>

      <div class="col">
        <b>COMPANY</b>
        <ul>
          <li><a href="/" class="list-company" id="who-we-are">Who we are</a></li>
          <li><a href="/" class="list-company" id="testimonials">Testimonials</a></li>
          <li><a href="/" class="list-company" id="careers">Careers</a></li>
        </ul>
      </div>

      <div class="col">
        <b>POLICIES</b>
        <ul>
          <li><a href="/" class="list-policies" id="terms-of-service">Terms of Service</a></li>
          <li><a href="/" class="list-policies" id="privacy policy">Privacy Policy</a></li>
          <li><a href="/" class="list-policies" id="cookie policy">Cookie Policy</a></li>
          <li><a href="/" class="list-policies" id="accessibility">Accessibility</a></li>
        </ul>
      </div>

    </div>

<!---------------------------------------->
    <div class="contacts row cols-edge">
<!--          Social Media Icon-->
      <div class="social-media-container">
        <span class="visible-lg inline">Follow us</span>
        <br>
        <a href="https://www.facebook.com" class="link-social-media">
          <img class="social-media-icon" src="https://cdn1.iconfinder.com/data/icons/social-media-2285/512/Colored_Facebook3_svg-512.png" alt="Facebook" >
        </a>
        <a href="https://www.instagram.com" class="link-social-media">
          <img class="social-media-icon" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-512.png" alt="Instagram">
        </a>
        <a href="https://www.youtube.com" class="link-social-media">
          <img class="social-media-icon" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Youtube_colored_svg-512.png" alt="YouTube">
        </a>
        <a href="https://twitter.com" class="link-social-media">
          <img class="social-media-icon" src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter3_colored_svg-512.png" alt="Twitter">
        </a>
        <a href="https://www.tiktok.com/" class="link-social-media">
          <img class="social-media-icon" src="https://cdn4.iconfinder.com/data/icons/social-media-flat-7/64/Social-media_Tiktok-256.png" alt="Tiktok">
        </a>
      </div>

<!--          Phone Number-->
      <div class="phone-number-container">
        <span class="visible-lg inline">Call us</span>
        <br>
        <b>
          <span class="phone-number">+1 999 999 9999</span>
        </b>
      </div>

<!--          Copy Right, Name, Address, Brand-->
      <div class="name-address-container col-12 col-md-7">
        <div class="copy-container">
          <div class="copy">© Renaissance LW. 2023</div>
          1600 Pennsylvania Ave NW, Washington, DC 20500, USA
        </div>

        <a href="/" class="logo">
          <img src="assets/Company_Brand.png" alt="Renaissance_LW" width="124" height="60">
        </a>
      </div>
    </div>


  </div>
</footer>
